*,
*:before,
*:after{
  box-sizing: border-box;
}

html, body{
  margin:0;
}

body{
  background-attachment: fixed;
  background-image: linear-gradient(-180deg, #de6161 0%, #2657eb 100%);
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5%;
}

.page-title{
  text-align: center;
}

.page-title a{
  color:white;
  text-decoration: none;
  font-size:5rem;
  line-height: 6rem;
  font-family: "Bowlby One SC";
  text-shadow: 10px 10px 0px rgba(0,0,0,0.17)
}

.page-title span{
  color: white;
  text-transform: lowercase;
  font-family: "arial";
  font-size: 1rem;
  text-shadow: none;
  letter-spacing: 1px;
}

.container{
  width:100%;
  margin:auto;
  padding:10px;
}

.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin:0;
  align-content: space-evenly;
}

.grid-item{
  background-color:white;
  position: relative;
  transition: all 0.5s;
  outline: 1px solid;
  outline-color: transparent;
}

.grid-item:hover .image-wrapper{
  opacity: 0.8;
}

.grid-item:hover a{
  text-decoration: underline;
}

.image-wrapper{
  background-color:black;
  background-size: cover;
  background-position: center;
  height:150px;
  transition:all 0.5s;
}

[class^="type__"]{
  color:black;
  display: block;
  font-size:13px;
  margin-top:20px;
  border-top:1px solid rgba(0,0,0,0.17);
  padding-top:7px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-info{
  padding:10px 10px 20px;
  height:150px;
}

.item-info h3{
  margin:0;
  line-height: 13px;
  height:70px;
}

h3 a{
  font-size:13px;
  text-decoration: none;
  color: black;
}

h3 a:hover{
  text-decoration:underline;
}

h3 a:visited{
  color: blueviolet;
}

.item-domain{
  color:#191919;
  font-size:13px;
  display: block;
  height:20px;
}

.intro h2{
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  color: white;
  letter-spacing: 1px;
  margin:2rem;
}

footer{
  text-align: center;
  margin-top: 50px;
  color:white;
  background:#24292e;
  padding:10px;
}

footer ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  margin:0 auto;
  width:100%;
  padding:0;
}

footer a{
  color:whitesmoke;
}

.new{
  position: absolute;
  top: 5px;
  z-index: 10;
  background: #1fa507;
  padding: 5px 8px;
  left: -5px;
  color: white;
}

@media screen and (min-width: 800px){
  
  .main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin:0;
    align-content: space-evenly;
  }


}


@media screen and (min-width: 1170px){
  .container{
    width:1170px;
    padding:0;
  }
  
  .main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin:0;
    align-content: space-evenly;
  }

  .page-title a{
    font-size:10rem;
    line-height: 6rem;
  }

  .page-title span{
    letter-spacing: 5px;
  }

  .intro h2{
    margin:5rem;
  }

  footer ul{
    width:500px;
  }


}