<div class="intro">
  <h2>CC is a curated collection of <strong>Articles</strong>, <strong>Videos</strong> and <strong>Tutorials</strong> on cryptocurrencies and blockchain technology from around the web</h2>
</div>