<div class="grid-item">
  <a href="{{ .link }}" target="_blank">
    <div class="image-wrapper" style="background-image:url({{.image}})"></div>
  </a>

  <div class="item-info">
    
    <h3><a href="{{ .link }}" target="_blank">{{ .title }}</a></h3>

    <span class="item-domain"> {{ .domain }} </span>

    {{if .new}}<span class="new">New</span>{{end}}

    <span class="type__{{.type}}">{{.type}}</span>
  
  </div>
</div>