<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="all">
  <meta name="description" content="OMG is a curated collection of Articles, Videos and Tutorials on CSS Grids from around the web">
  <meta name="keywords" content="CSS, Grids, Tutorials, Collection, Articles">

  <meta property="og:title" content="OMG - CSS Grids">
  <meta property="og:site_name" content="ohmygrids.com">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ohmygrids.com">
  <meta property="og:description" content="A curated collection of Articles, Videos and Tutorials on CSS Grids from around the web.">
  <meta property="og:image" content="https://ohmygrids.com/og.jpg">
  <meta property="og:image:secure_url" content="https://ohmygrids.com/og.jpg">
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@shaunmnemonic">
  <meta name="twitter:creator" content="@shaunmnemonic">
  <meta name="twitter:title" content="OMG - CSS Grids">
  <meta name="twitter:description" content="A curated collection of Articles, Videos and Tutorials on CSS Grids from around the web.">
  <meta name="twitter:image" content="https://ohmygrids.com/og.jpg">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="black">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <title>Crypto Curated</title>
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>

    <h1 class="page-title">
      <a href="/">
        Crypto<span>Curated</span>!
      </a>
    </h1>

    {{ partial "intro.html" }}

      <section class="container" role="main">
          <div class="main">
              
              {{ range $.Site.Data.db.items }}
                {{ partial "item.html" . }}
              {{ end }}
          
            </div>
      </section>
    
      <footer>
        <ul>
                    <li><a href="https://goo.gl/forms/kTgUpBXGCWrAtDzg2">Add more!</a></li>
        </ul>
      </footer>

</body>
</html>